﻿@model IEnumerable<BlogMvcApp.Models.CategoryModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

<h2>Kategori Listesi</h2>
<hr />
<p>
    @Html.ActionLink("Kategori Ekle", "Create", null, new { @class = "btn btn-primary" })
</p>
<hr />

@if (TempData["Kategori"] != null)
{
    var kategori = (BlogMvcApp.Models.Category)TempData["Kategori"];

    <div class="alert alert-success">
        <span class="glyphicon glyphicon-ok"></span>
        <b> @kategori.KategoriAdi</b> Kayıt Edildi.
    </div>
}

<table class="table table-bordered table-hover table-striped">
    <tr>
        <th style="width:60%;">
            @Html.DisplayNameFor(model => model.KategoriAdi)
        </th>
        <th style="width:16%;">
            @Html.DisplayNameFor(model => model.BlogSayisi)
        </th>
        <th style="width:150px;"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.KategoriAdi
            </td>
            <td>
                @item.BlogSayisi
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-warning btn-xs" })
                @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-primary btn-xs" })
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-xs" })
            </td>
        </tr>
    }

</table>
