﻿@model BlogMvcApp.Models.Blog

@{
    ViewBag.Title = "Details";
}

<h1>@Model.Baslik</h1>
<hr />
<p>
    <span class="glyphicon glyphicon-time"></span>
    @Model.EklenmeTarihi
</p>
<hr />
<img class="img-responsive" src="http://placehold.it/900x300" alt="">
<hr />
<blockquote>
    <p>@Model.Aciklama</p>
</blockquote>
<p>
    @Model.Icerik
</p>

<div class="comment">
    <hr />
    <div class="well">
        <h4>Yorum Yap :</h4>
        <form role="form">
            <div class="form-group">
                <textarea class="form-control" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Kaydet</button>
        </form>
    </div>
    <hr />
    @Html.ActionLink("Ana Sayfa", "Index","Home")
</div>