﻿@model IEnumerable<BlogMvcApp.Models.BlogModel>
@{
    ViewBag.Title = "Index";
}
<div style="color:white">Merhabalar Hocam</div>
<h2>Sizden Gelenler </h2>


<hr />
@Html.Partial("BlogListesi", Model)


