﻿@model IEnumerable<BlogMvcApp.Models.Category>


<div class="well">
    <h4>Blog Kategorileri</h4>
    <hr />
    <div class="row">

        @foreach (var item in Model)
        {
            <div class="col-lg-4">
                <ul class="list-unstyled">
                    <li>
                        <a href="/Blog/List/@item.Id">@item.KategoriAdi</a>
                    </li>
                </ul>
            </div>
        }

    </div>
    <!-- /.row -->
</div>