﻿
<ul class="navbar-nav my-3 my-lg-1">

    @if (Request.IsAuthenticated)
    {
        //kullanıcı adkını ve logout linklerini çıkar

        <li class="nav-item active">
            <a class="nav-link" href="/">@User.Identity.Name</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/Account/Logout">Çıkış Yap <span class="sr-only">(current)</span></a>
        </li>

    }
    else
    {
        //login ve register linklerini çıkar

        
        <li class="nav-item active">
            <a class="nav-link" href="/Account/Login">Giris Yap</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/Account/Register">Kayıt Ol</a> 
        </li>

    }


</ul>