﻿
@using (Html.BeginForm("List","Blog",FormMethod.Get))
{
    <div class="well">
        <h4>Blog Arama</h4>
        <hr />
        <div class="input-group" style="width:20%;margin-left:80%">            
            @Html.TextBox("q",null,new {@class="form-control" })
            <span class="input-group-btn">
                <button class="btn btn-default" type="submit">
                    <span class="glyphicon glyphicon-search">Ara</span>
                </button>
            </span>
        </div>
    </div>
}




