﻿
@using (Html.BeginForm("List", "Blog", FormMethod.Get))
{

    <div class="well">
        <div class="input-group" style="width:120%;margin-left:95%">
            @Html.TextBox("q", "Ara", new { @class = "form-control" })  <button class="btn btn-primary" type="submit" >ara</button>
                @*<span class="input-group-btn">

                    <span class="glyphicon glyphicon-search">Ara</span>
         
            </span>*@

        </div>
    </div>



@*<div class="well">
   <div style="color:white">selam</div>
    <div class="input-group" style="width:30%;margin-left:85%">
        <span class="input-group-btn">
                <span> @{Html.RenderAction("KategoriListesi", "Category"); }</span>

           
        </span>

    </div>
</div>*@
}


