﻿@model IEnumerable<BlogMvcApp.Models.BlogModel>
@{
    ViewBag.Title = "Index";
}

        @Html.Partial("_HeaderPartial")
 

<h2 style="text-align:center;margin-top:1%;font-size: 3rem;font-family:Catamaran;color:#292C34   ">Günün Blogları</h2>
<hr />
@Html.Partial("BlogListesi", Model)

