﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <a href="@Url.Action("Change","MultiLanguage",new { lang = "en" })">Engılısh</a>
    <a href="@Url.Action("Change","MultiLanguage",new { lang = "tr" })">Türkçe</a>
    <br /><br />
   @Resources.Content.MrBlog| @Resources.Content.Hakkımızda |@Resources.Content.BlogEkle| @Resources.Content.SizdenGelenler 

</body>
</html>
