﻿
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Mrs.Blog</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/kullanici/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/Content/kullanici/css/one-page-wonder.min.css" rel="stylesheet" />
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/Home/Index">Mrs.Blog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li>
                    <a class="nav-link" href="/About/Index">Hakkımızda <span class="sr-only">(current)</span></a>
                </li>
                <li>
                    <a class="nav-link" href="/Blog/Create">Blogunu Ekle<span class="sr-only">(current)</span></a>
                </li>
                <li>
                    <a class="nav-link" href="/Blog/List">Sizden Gelenler<span class="sr-only">(current)</span></a>
                </li>
                <li>@Html.Partial("Search")</li>
            </ul>
             
            @Html.Partial("_LoginPartial")
        </div>
    </nav>



    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    @RenderBody()
                    <div class="p-5">
                        <img class="img-fluid rounded-circle" src="img/02.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="p-12">

                    </div>
                </div>
            </div>
        </div>
    </section>



    <!-- Footer -->
    <footer class="py-5 bg-black">
        <div class="container">
            <p class="m-0 text-center text-white small">Copyright &copy; Your Website 2018</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="~/Content/kullanici/js/jquery.min.js"></script>
    <script src="~/Content/kullanici/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/kullanici/js/Carousel.js"></script>
</body>

</html>
