﻿@using web_odevi.Models
@model LoginViewModel
@{
    ViewBag.Title = "Oturum aç";
}

<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container">

        @Html.ActionLink("Anasayfa", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        @Html.ActionLink("Hakkımızda", "About", "Home", new { area = "" }, new { @class = "navbar-brand" }))
        @Html.ActionLink("Sizden Gelenler", "FromVisiter", "Home", new { area = "" }, new { @class = "navbar-brand" }))
        @Html.ActionLink("Fikir Getir", "Contact", "Home", new { area = "" }, new { @class = "navbar-brand" }))

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    @Html.Partial("_LoginPartial")
                </li>
            </ul>
        </div>
    </div>
</nav>



<div class="row">
    <div class="col-md-8" style="margin-top:120px;">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Yerel bir hesapla oturum açın.</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Oturum aç" class="btn btn-default" />
                    </div>
                </div>
                <p>
                    @Html.ActionLink("Yeni kullanıcı olarak kaydol", "Register")
                </p>
                @* Parola sıfırlama işlevi için hesabınızı onayladığınızda bu seçeneği etkinleştirin
                    <p>
                        @Html.ActionLink("Parolanızı mı unuttunuz?", "ForgotPassword")
                    </p>*@
            }
        </section>
    </div>
    <div class="col-md-4" style="margin-top:120px;">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}